html,body{
	margin: 0;
	padding: 0;
}
@font-face {
	font-family: Railway;
	src: url(../fonts/Railway.otf);
}
@font-face {
	font-family: DINPro-Light;
	src: url("../fonts/DINPro-Light-tr.ttf");
}
@font-face {
	font-family: Petita;
	src: url(../fonts/petitamedium.ttf);
}

@font-face {
	font-family: DINPro-Medium;
	font-weight: 100;
	src: url("../fonts/DINPro-Medium-tr.ttf")
}

@font-face{
	font-family: PetitaBold;
	font-weight: 100;
	src: url("../fonts/petitamedium.ttf");
}

@font-face {
	font-family: Lato;
	src: url("../fonts/Lato-Regular.ttf")
}

@font-face {
	font-family: ModernSans-Light;
	src: url("../fonts/ModernSans-Light.otf")
}

#preloader  {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	z-index: 999;
   height: 100%;
}

#status  {
	width: 100%;
	height: 40vh;
	position: absolute;
	top: 50%;
	background-image: url(../images/blackhole.gif);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin: -20vh 0 0 0;
}
#title-text{
	z-index: 4;
    display: table;
    text-align: center;
}

#linea{
    letter-spacing: 2.3vw;
    color: #FFFFFF;
    position: fixed;
    display: table-cell;
    top: 23.6vh;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    font: calc(1.36*(.8em + 1vw + 1vh))/calc(16*0.03022*(.8em + 1vw + 1vh)) "Railway", sans-serif;
    padding-left: 9px;
}

#lineb{
    color: #FFFFFF;
    position: fixed;
    display: table-cell;
    top: 29.6vh;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    letter-spacing: 0.5vw;
    font: calc(115*0.03022*(.8em + 1vw + 1vh))/calc(29*0.03022*(.8em + 1vw + 1vh)) "Railway", sans-serif;
}
#linec{
	z-index: 1;
    position: fixed;
    display: table-cell;
    top: 37.6vh;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    font: calc(0.59*(.8em + 1vw + 1vh))/calc(96*0.03022*(.8em + 1vw + 1vh)) "Railway", sans-serif;
    color: #FFFFFF;
    letter-spacing: 1.16vw;
}
.myBtn {
	z-index: 3;
	position: fixed;
	outline: none;
	width: 239px;
	height: 75px;
	background: transparent linear-gradient(105deg, #0287D0E6 0%, #49AADCE8 52%, #48DBD8E8 100%) 0% 0% no-repeat padding-box;
	border: 1px solid #27D3FF;
	border-radius: 38px;
	background-size:439px 200px;
	background-position: -100px;

	
	color: #ffffff;
	cursor: pointer;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	display: block;
	transform-style: preserve-3d;
	transform: perspective(1000px);
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	transition: all 0.2s linear;
	align-items: center;
	margin-bottom: 5em; /*change this to specify distance from bottom*/
	bottom: 0;
}

.myBtn:hover {
	transition: 0.4s ease-in-out;
	background-position:-200px; 
	border: 2px solid #ffffff;
}

.btntext {
	transform: translateZ(20px);
	display: inline-block;
	vertical-align: bottom;
	color: white;
	font-size: 2em;
	font-weight: 100;
}

@keyframes animate {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.logo {
	height: 55px;
	width: 92px;
	border-collapse: collapse;
	padding: 0px;
	margin-top: 0em;
}

ul {
	position: fixed;
	right: 30px;
}
li {
	margin-left: 15px;
	padding-left: 5px;
}

/* Let's style the wrapper */
.wrapper {
	z-index: 6;
	position: absolute;
	bottom: 10em;
	right: 0;
	width: 50px;
}

/* Style the Un-order list by setting its list-style to none */
.wrapper ul {
	list-style: none;
}

/* Style the list items inside the UL list, by setting its width, height and line-height
  and float them to left
 */
.wrapper ul li {
	width: 100%;
	height: 75px;
	line-height: 75px;
	margin: 0 2px;
	text-align: center;
	cursor: pointer;
	float: left;
	transition: all 0.5s ease;
}

/* Style the icons by setting its color and margin-top value to 20px
to align it properly */
.wrapper ul li .fa {
	color: #d8e2dc;
	margin-top: 5px;
	transition: all 0.5s ease;
}

/* Now target the specific li classes for styling and use box-shadow effect to border and text-shadow effect
  to icons for glowing effect and use transition property for smooth transition effect. */
/*facebook*/
.wrapper ul li:hover.facebook {
	transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-facebook {
	color: #7298e9;
	text-shadow: 0 0 15px #7298e9;
	transition: all 0.5s ease;
}

/* instagram */
.wrapper ul li:hover.instagram {
	transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-instagram {
	color: #e952b9;
	text-shadow: 0 0 15px #e952b9;
	transition: all 0.5s ease;
}

/* media queries */

@media screen and (max-width: 600px) {
	.border2 {
		display: inline;
	}
	.border1 {
		display: none;
	}
	.myBtn {
		height: 50px;
		width: 130px;
	}
	.myBtn .btntext {
		color: white;
		font-size: 1.5em;
		font-weight: 100;
	}
	svg {
		top: 0;
	}
	.wrapper {
		width: 50px;
		margin-left: 3em;
		right: -10em;
		bottom: 7em;
	}
	.wrapper ul li {
		width: 100%;
		height: 50px;
		line-height: 50px;
		margin-top: 1px;
	}
}

.navbar
{
	z-index: 4;
	position: fixed;
	top: 0px;
	left: 0px;

	width: 100%;
	height: calc((80/768) * ((100vw + 100vh) / 2));

	padding: 0px;
	margin: 0px;
}

.navbar .logo
{
	position: absolute;
	top: 0px;
	left: 0px;

	height: calc((40/768) * ((100vw + 100vh) / 2));
	width: calc((110/768) * ((100vw + 100vh) / 2));

	margin: calc((20/768) * ((100vw + 100vh) / 2));

	background-image: url('../images/logo-transparent.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.navbar .navbuttons
{
	position: absolute;
	top: calc((80/768) * ((100vw + 100vh) / 2));
	right: calc((40/768) * ((100vw + 100vh) / 2));

	height: calc((80/768) * ((100vw + 100vh) / 2));
}

.navbar .navbuttons .navbutton
{
	position: relative;
	top: 0px;
	left: 0px;

	width: calc((80/768) * ((100vw + 100vh) / 2));

	float: none;
	padding: calc((15/768) * ((100vw + 100vh) / 2)) 0px;

	text-align: right;
	font-family: 'Roboto', sans-serif;
	font-size: calc((12/768) * ((100vw + 100vh) / 2));
	color: #ffffff;
	cursor: pointer;

	opacity: 0;
	transform: translateX(calc((40/768) * ((100vw + 100vh) / 2)));
	transition: opacity 500ms ease-in-out 0s, transform 500ms ease-in-out 0s, all 500ms ease-in-out 0s;
	-webkit-transition: opacity 500ms ease-in-out 0s, transform 500ms ease-in-out 0s,  all 500ms ease-in-out 0s;
}
.navbar .navbuttons .navbutton:hover{
	color: #21BBFF;
}

.navbar .togglebutton
{
	position: absolute;
	top: 0px;
	right: 0px;

	width: calc((100/768) * ((100vw + 100vh) / 2));
	height: calc((80/768) * ((100vw + 100vh) / 2));
}

.navbar .togglebutton svg
{
	position: absolute;
	top: 0px;
	left: 0px;

	width: 100%;
	height: 100%;
	fill: #ffffff;
}

.navbar .togglebutton svg .line
{
	transition: width 500ms ease-in-out 0s, x 500ms ease-in-out 0s;
	-webkit-transition: width 500ms ease-in-out 0s, x 500ms ease-in-out 0s;
}

@media only screen and (min-width: 768px) {
	.navbar .navbuttons
	{
		position: absolute;
		top: 0px;
		right: calc((100/768) * ((100vw + 100vh) / 2));
	}
	.navbar .navbuttons .navbutton
	{
		float: left;
		padding: calc((34/768) * ((100vw + 100vh) / 2)) 0px;

		text-align: center
	}
}

@media (min-width: 501px){
	.section-2{
		scroll-snap-align: start;
		position: relative;
		width: 100%;
		top: 122vh;
		z-index: 5;
		margin: 0;
		padding: 0;
		background: transparent linear-gradient(180deg, #000000 0%, #191919 100%) 0% 0% no-repeat padding-box;
		overflow-y: hidden;
		height: auto;
	}
	
	.image-container-1{
		display: inline-block;
		width: 46%;
		height: auto;
		margin: 0 auto;
		padding: 0;
	}

	.image-container-1 img{
		display: block;
		width: 100%;
		height: auto;
		mix-blend-mode: lighten;
	}

	.text-container{
		position: relative;
		margin: 3vh auto;
		display: inline-block;
		width: 45%;
		height: auto;
	}

	.section-2 .text{
		display: inline;
		font-family: sans-serif;
		font-size: 3vw;
		font-weight: 100;
		color: #FFFFFF;
	}

	.section-2 p{
		color: #8B9AB5;
		font-family: 'Lato', sans-serif;
		font-size: 1.5vw;
		padding-left: 0.9rem;
		margin-top: 7vh;
		margin-bottom: 7vh;
		line-height: 1.75vw;
	}

	.circle{
		height: 30px; 
		width: 60px; 
		border-radius: 30px 30px 0 0;
		transform: rotate(90deg);
		background-image: linear-gradient(-90deg, #48DBD8E8, #0287D0E6);
		display: inline-block;
	}

	.myBtn2{
		z-index: 2;
		width: 14.641288433382138vw;
		padding:9px;
		height: auto;
		outline: none;
		background: transparent linear-gradient(105deg, #0287D0E6 0%, #49AADCE8 52%, #48DBD8E8 100%) 0% 0% no-repeat padding-box;
		border: 1px solid #27D3FF;
		border-radius: 38px;
		background-size:66.92073170731707vw 31.695721077654518vh;
		background-position: -100px;
		color: #ffffff;
		cursor: pointer;
		letter-spacing: 0.5px;
		text-transform: uppercase;
		text-align: center;
		text-decoration: none;
		display: block;
		margin-left: 1vw;
		margin-right: 0;
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
		transition: all 0.2s linear;
		align-items: center;
		margin-bottom: 0; /*change this to specify distance from bottom*/
		bottom: 0;
		display: inline-block;
		transform-style: preserve-3d;
		transform: perspective(1000px);
		
}

.myBtn2:hover {
	transition: 0.4s ease-in-out;
	background-position:-200px; 
	border: 2px solid #ffffff;
}

.btntext {
	display: inline-block;
	vertical-align: bottom;
	color: white;
	font-size: 1.581259150805271vw;
	font-weight: 200;
	transform: translateZ(20px);
}

.text-container .btn2{
	transform-style: preserve-3d;
	transform: perspective(1000px);
	background: none;
	outline: none;
	border: 2px solid #707070;
	margin-right: 0;
	display: inline-block
}

.btn2 .btntext{
	color: #707070;
	transform: translateZ(20px);
}

.section-2 .btn2:hover > .btntext{
	transition: 0.4s ease-in-out;
	color: white;
}
.section-2 .btn2:hover{
	border-color: #FFFFFF;
	transition: 0.4s ease-in-out;
}
}

@media only screen and (max-width: 501px){
	.section-2{
		position: relative;
		width: 100%;
		top: 100vh;
		z-index: 5;
		margin: 0;
		padding: 0;
		height: 25vh;
		background: transparent linear-gradient(180deg, #000000 0%, #191919 100%) 0% 0% no-repeat padding-box;
	}
	
	.image-container-1{
		display: inline-block;
		width: 46%;
		height: auto;
		margin: 0 auto;
		padding: 0;
	}
	.image-container-1 img{
		display: block;
		width: 100%;
		height: auto;
		mix-blend-mode: lighten;
	}
	.text-container{
		position: relative;
		margin: 3vh auto;
		display: inline-block;
		width: 45%;
		height: auto;
	}
	.section-2 .text{
		display: inline;
		font-family: sans-serif;
		font-size: 0.8rem;
		font-weight: 100;
		color: #FFFFFF;
	}
	.section-2 p{
		color: #8B9AB5;
		font-family: 'Lato', sans-serif;
		font-size: 8px;
		padding-left: 0.3rem;
		margin-top: 10px;
		margin-right: 0;
		padding-right: 0;
		line-height: 10px;
	}
	.circle{
		height: 10px; 
		width: 20px; 
		border-radius: 10px 10px 0 0;
		transform: rotate(90deg);
		background-image: linear-gradient(-90deg, #48DBD8E8, #0287D0E6);
		display: inline-block;
	}
	.myBtn2{
		z-index: 2;
		width: 65px;
		padding:0;
		height: 25px;
		outline: none;
		background: transparent linear-gradient(105deg, #0287D0E6 0%, #49AADCE8 52%, #48DBD8E8 100%) 0% 0% no-repeat padding-box;
		border: 1px solid #27D3FF;
		border-radius: 38px;
		background-size:66.92073170731707vw 31.695721077654518vh;
		background-position: -100px;
		color: #ffffff;
		cursor: pointer;
		letter-spacing: 0.5px;
		text-transform: uppercase;
		text-align: center;
		text-decoration: none;
		display: block;
		margin-left: 1vw;
		margin-right: 0;
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
		transition: all 0.2s linear;
		align-items: center;
		margin-bottom: 0; /*change this to specify distance from bottom*/
		bottom: 0;
		display: inline-block;
		transform-style: preserve-3d;
		transform: perspective(1000px);
		
}

.myBtn2:hover {
	transition: 0.4s ease-in-out;
	background-position:-200px; 
	border: 2px solid #ffffff;
}
.btntext {
	display: inline-block;
	vertical-align: bottom;
	color: white;
	font-size: 8px;
	font-weight: 100;
	transform: translateZ(20px);
}
.text-container .btn2{
	background: none;
	outline: none;
	border: 2px solid #707070;
	margin:0;
	display: inline-block;
	height: 25px;
	width: 65px;
	transform-style: preserve-3d;
	transform: perspective(1000px);
}

.btn2 .btntext{
	color: #707070;
	transform: translateZ(20px);
}
.section-2 .btn2:hover > .btntext{
	transition: 0.4s ease-in-out;
	color: white;
}
.section-2 .btn2:hover{
	border-color: #FFFFFF;
	transition: 0.4s ease-in-out;
}

}


@media (min-width: 501px){
	.section-3{
		scroll-snap-align: start;
		z-index: 5;
		color: white;
		position: relative;
		width: 100%;
		height: auto;
		top:122vh;
		background: transparent linear-gradient(180deg, #191919 0%, #191919 10%, #00000000 52%, #00000000 100%) 0% 0% no-repeat padding-box;
		opacity: 1;
	}

	.section-3 img{
		position: relative;
		display: block;
		max-width: 100%;
    max-height: 100%;
		z-index: -10;
		mix-blend-mode: hue;
	}
	.section-3 .content-3{
		position: absolute;
		top: 1vh;
	} 

	.section-3 h1{
		align-items: center;
		position: relative;
		top: 10.75vh;
    left: 3.25vw;
		display: inline-block;
		font-family: sans-serif;
		font-size: 3rem;
		font-weight: 100;
		margin-left: 10px;
	}

	.section-3 .circle{
		position: relative;
		top: 10vh;
		left: 4vw;
		display: inline-block;
	}

	.section-3 p{
		position: relative;
		top: 17vh;
		left: 4vw;
		width: 70vw;
		margin-left: 1vw;
		color: #8B9AB5;
		font-family: 'Lato', sans-serif;
		font-size: 1.25rem;
		margin-top: 5vh;
		line-height: 1.75rem;
	}
	.section-3 .btn2{
		position: relative;
		outline: none;
		background: none;
		border: 2px solid #707070;
		bottom: 60vh;
		height: 8vh;
		left: 4vw;
		top: 18vh;
		margin-top: 10px;
		transform-style: preserve-3d;
		transform: perspective(1000px);
	}
	.section-3 .btn2:hover{
		border-color: #FFFFFF;
		transition: 0.4s ease-in-out;
	}
	.section-3 .btn2:hover > .btntext{
	color: #FFFFFF;
	transition: 0.4s ease-in-out;
	}
	.section-3 .btn2 .btntext{
		transform: translateZ(20px);
		}
	
}
@media (max-width: 501px){
	.section-3{
		z-index: 5;
		color: white;
		position: relative;
		width: 100vw;
		top:125vh;
		background: transparent linear-gradient(180deg, #191919 0%, #191919 10%, #00000000 52%, #00000000 100%) 0% 0% no-repeat padding-box;
		opacity: 1;
	}
	.section-3 img{
		display: block;
		width: 100vw;
		height: auto;
		z-index: -10;
		mix-blend-mode: hue;
	}
	.section-3 h1{
		align-items: center;
		position: relative;
		top: 8.293460925039872vh;
    left: 8vw;
		display: inline-block;
		font-family: sans-serif;
		font-size: 0.8rem;
		font-weight: 100;
	}
	.section-3 .circle{
		position: relative;
		top: 10vh;
		left: 4vw;
		display: inline-block;
	}
	.section-3 p{
		position: relative;
		top: 17vh;
		left: 4vw;
		width: 70vw;
		margin-left: 1vw;
		color: #8B9AB5;
		font-family: 'Lato', sans-serif;
		font-size: 8px;
		margin-top: -12.5px;
		line-height: 10px;
	}
	.section-3 .btn2{
		position: relative;
		outline: none;
		background: none;
		border: 2px solid #707070;
		top: 21.5311004784689vh;
		height: 3.9872408293460926vh;
		left: 4vw;
		width: 16vw;
		transform-style: preserve-3d;
		transform: perspective(1000px);
	}
	.section-3 .btn2:hover{
		border-color: #FFFFFF;
		transition: 0.4s ease-in-out;
}
.section-3 .btn2:hover > .btntext{
	color: #FFFFFF;
	transition: 0.4s ease-in-out;
}
	.section-3 .btntext{
		transform: translateZ(20px);
		margin-bottom: 0.45vw;
	}
}


#ham{
	position: fixed;
    z-index: 6;
    display: block;
    right: 0;
    top: 47vh;
    width: 4vw;
    height: 6vh;
    opacity: 1;
}

#ham .rectangle{
	z-index: 6;
	margin-top: 1vh;
	left: 1865px;
	width: 3vw;
	float: right;
	height: .3vh;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	opacity: 1;
	transition: all 0.5s ease;
}
#ham .rectanglebig{
    width: 4vw;
}

.section-4{
	margin: 0;
	padding: 0;
	z-index: 10;
	position: relative;
	top:131vh;
	width: 107vw;
	}

.section-4 .circle{
	position: relative;
	top:0;
	transform: rotate(180deg);
	background-image: linear-gradient( #48DBD8E8, #0287D0E6);
	margin-left: 46vw;
}

.section-4 h1{
	font-size: 3rem;
	color: white;
	font-weight: 200;
	font-family: sans-serif;
	margin-top:2vh;
	width: 100%;
	text-align: center;
	margin-left:-5vw;
}

.section-4 p{
	position: relative;
	color: #8B9AB5;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 1.25rem;
	width: 45vw;
	margin-top: 4vh;
	margin-left: 25%;
}

.cards{
	margin-left:6.75vw;
	margin-right: auto;
	margin-top: 15vh;
	height: 12.5vw;
  display: grid;
  grid-template-columns: 13.5vw 13.5vw 13.5vw 13.5vw;
	grid-gap: 0 10vw;
	resize: both;
}

.cell img{
	height: 12.5vw;
	width: 13.5vw;
	padding: 0;
	margin: 0;
}

.celltitle{
	position: absolute;
	font-weight: 100;
	font-family: 'Lato', sans-serif;
	letter-spacing: 1.25px;
	text-align: center;
	color: white;
	z-index: 20;
}

.section-4 .btn2{
	transform-style: preserve-3d;
	transform: perspective(1000px);
	background: none;
	outline: none;
	border: 2px solid #707070;
	margin-left: 39%;
	margin-right: auto;
	margin-top: 10vh;
	display: inline-block;
}


.btn2 .btntext{
	color: #707070;
	transform: translateZ(20px);
}

.section-4 .btn2:hover > .btntext{
	transition: 0.4s ease-in-out;
	color: white;
}
.section-4 .btn2:hover{
	border-color: #FFFFFF;
	transition: 0.4s ease-in-out;
}

.section-5{
	z-index: 5;
	background: transparent linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(9, 9, 9, 0.07) 41%, rgba(10, 10, 10, 0.05) 74%, rgba(0, 0, 0, 1) 100%) 0% 0% no-repeat padding-box;
	position: relative;
	top:-10vh;
}

.section-5 img{
	position: absolute;
	top:150vh;
	width: 100vw;
	mix-blend-mode: lighten;
}

.section-5 .circle{
	position: absolute;
	top: 165vh;
	left: 6.75vw;
	display: inline-block;
}

.section-5 h1{
		align-items: center;
		position: absolute;
		top: 158.25vh;
    left: 10.5vw;
		display: inline-block;
		font:3rem PetitaBold;
		font-weight: 100;
		margin-left: 10px;
		z-index: 10;
		color: white;
	}

.section-5 .text-0{
	z-index: 20;
	position: absolute;
	top:178.25vh;
	left: 7.5vw;
	color: #8B9AB5;
	font: 1.25rem ModernSans-Light;
	margin-top: 0;
	line-height: 1.75rem;
	width: 50vw;
	font-weight: 100;
}	

.section-5 .number-1{
	z-index: 20;
	color:rgba(62, 131, 136, 1);
	font: 147px DINPro-Light;
	letter-spacing: 0;
	position: absolute;
	left: 6.75vw;
	top: 190.25vh;
}

.section-5 .heading-1{
	z-index: 20;
	color: rgba(255, 255, 255, 1);
	font:1.75rem DINPro-Light;
	font-weight: 100;
	position: absolute;
	top: 214.25vh;
	left: 15.6vw;
	letter-spacing: 0.4px;
	margin-left: 35px;
}

.section-5 .text-1{
	color: rgba(105, 118, 138, 1);
	z-index: 20;
	position: absolute;
	top: 228vh;
	left: 15.6vw;
	font: 1.25rem DINPro-Medium;
	margin-top: 0;
	line-height: 1.75rem;
	width: 44vw;
	font-weight: 100;
	margin-left: 35px;
}

.section-5 .number-2{
	z-index: 20;
	color:rgba(62, 131, 136, 1);
	font: 147px DINPro-Light;
	letter-spacing: 0;
	position: absolute;
	left: 35vw;
	top: 225.25vh;
}

.section-5 .heading-2{
	z-index: 20;
	color: rgba(255, 255, 255, 1);
	font-weight: 100;
	position: absolute;
	font:1.75rem DINPro-Light;
	top: 250vh;
	left: 45.5vw;
	letter-spacing: 0.4px;
	margin-left: 35px;
}

.section-5 .text-2{
	color: rgba(105, 118, 138, 1);
	z-index: 20;
	position: absolute;
	top: 263.25vh;
	left: 45.5vw;
	font: 1.25rem DINPro-Medium;
	margin-top: 0;
	line-height: 1.75rem;
	width: 50vw;
	font-weight: 100;
	width: 43vw;
	margin-left: 35px;
}

.section-5 .number-3{
	z-index: 20;
	color:rgba(62, 131, 136, 1);
	font: 147px DINPro-Light;
	letter-spacing: 0px;
	position: absolute;
	left: 6.75vw;
	top: 260.25vh;
}

.section-5 .heading-3{
	z-index: 20;
	color: rgba(255, 255, 255, 1);
	font:1.75rem DINPro-Light;
	font-weight: 100;
	position: absolute;
	top: 284.5vh;
	left: 16.9vw;
	letter-spacing: 0.4px;
	margin-left: 35px;
}

.section-5 .text-3{
	color: rgba(105, 118, 138, 1);
	z-index: 20;
	position: absolute;
	top: 298vh;
	font: 1.25rem DINPro-Medium;
	margin-top: 0;
	line-height: 1.75rem;
	font-weight: 100;
	width: 43vw;
	left: 16.9vw;
	letter-spacing: 0.4px;
	margin-left: 35px;
}

.section-5 .number-4{
	z-index: 20;
	color:rgba(62, 131, 136, 1);
	font: 147px DINPro-Light;
	letter-spacing: 2.03px;
	position: absolute;
	left: 35vw;
	top: 295.25vh;
}

.section-5 .heading-4{
	z-index: 20;
	color: rgba(255, 255, 255, 1);
	font:1.75rem DINPro-Light;
	font-weight: 100;
	position: absolute;
	top: 319.5vh;
	left: 45.5vw;
	letter-spacing: 0.4px;
	margin-left: 35px;
}

.section-5 .text-4{
	color: rgba(105, 118, 138, 1);
	z-index: 20;
	position: absolute;
	top: 333vh;
	left: 45.5vw;
	font: 1.25rem DINPro-Medium;
	margin-top: 0;
	line-height: 1.75rem;
	font-weight: 100;
	width: 43vw;
	margin-left: 35px;
}

.section-5 .number-5{
	z-index: 20;
	color:rgba(62, 131, 136, 1);
	font: 147px DINPro-Light;
	letter-spacing: 2.03px;
	position: absolute;
	left: 6.75vw;
	top: 330.25vh;
}

.section-5 .heading-5{
	z-index: 20;
	color: rgba(255, 255, 255, 1);
	font:1.75rem DINPro-Light;
	font-weight: 100;
	position: absolute;
	top: 354.5vh;
	left: 16.9vw;
	letter-spacing: 0.4px;
	margin-left: 35px;
}

.section-5 .text-5{
	color: rgba(105, 118, 138, 1);
	z-index: 20;
	position: absolute;
	top: 367.6vh;
	left: 16.9vw;
	font: 1.25rem DINPro-Medium;
	margin-top: 0;
	line-height: 1.75rem;
	font-weight: 100;
	width: 43vw;
	margin-left: 35px;
}
