@font-face {
	font-family: Railway;
	src: url(fonts/Railway.otf);
}
#title-text{
	z-index: 4;
    display: table;
    text-align: center;
}
#linea{
    letter-spacing: 2.3vw;
    color: #FFFFFF;
    position: fixed;
    display: table-cell;
    top: 23.6vh;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    font: calc(1.36*(.8em + 1vw + 1vh))/calc(16*0.03022*(.8em + 1vw + 1vh)) "Railway", sans-serif;
    padding-left: 9px;
}

#lineb{
    color: #FFFFFF;
    position: fixed;
    display: table-cell;
    top: 29.6vh;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    letter-spacing: 0.5vw;
    font: calc(115*0.03022*(.8em + 1vw + 1vh))/calc(29*0.03022*(.8em + 1vw + 1vh)) "Railway", sans-serif;
}
#linec{
	z-index: 1;
    position: fixed;
    display: table-cell;
    top: 37.6vh;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    font: calc(0.59*(.8em + 1vw + 1vh))/calc(96*0.03022*(.8em + 1vw + 1vh)) "Railway", sans-serif;
    color: #FFFFFF;
    letter-spacing: 1.16vw;
}
#myBtn {
	z-index: 2;
	position: fixed;
	
	width: 239px;
	height: 75px;
	background: transparent linear-gradient(105deg, #0287D0E6 0%, #49AADCE8 52%, #48DBD8E8 100%) 0% 0% no-repeat padding-box;
	border: 1px solid #27D3FF;
	border-radius: 38px;
	background-size:439px 200px;
	background-position: -100px;

	
	color: #ffffff;
	cursor: pointer;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	display: block;
	
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	transition: all 0.2s linear;
	align-items: center;
	margin-bottom: 5em; /*change this to specify distance from bottom*/
	bottom: 0;
}

#myBtn:hover {
	transition: 0.4s ease-in-out;
	background-position:-200px; 
	border: 2px solid #ffffff;
}

svg {
	display: block;
	position: absolute;
	left: -3px;
	top: -2px;
	fill: none;
	stroke: #1984ff;
	stroke-dasharray: 150 480;
	stroke-dashoffset: 150;
	transition: 1s ease-in-out;
}
.border2 {
	display: none;
}

#myBtn:hover svg {
	stroke-dashoffset: -480;
}

.btntext {
	display: inline-block;
	vertical-align: bottom;
	color: white;
	font-size: 2em;
	font-weight: 100;
}

@keyframes animate {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.logo {
	height: 55px;
	width: 92px;
	border-collapse: collapse;
	padding: 0px;
	margin-top: 0em;
}

ul {
	position: fixed;
	right: 30px;
}
li {
	margin-left: 15px;
	padding-left: 5px;
}

/* Let's style the wrapper */
.wrapper {
	z-index: 4;
	position: absolute;
	bottom: 10em;
	right: 0;
	width: 50px;
}

/* Style the Un-order list by setting its list-style to none */
.wrapper ul {
	list-style: none;
}

/* Style the list items inside the UL list, by setting its width, height and line-height
  and float them to left
 */
.wrapper ul li {
	width: 100%;
	height: 75px;
	line-height: 75px;
	margin: 0 2px;
	text-align: center;
	cursor: pointer;
	float: left;
	transition: all 0.5s ease;
}

/* Style the icons by setting its color and margin-top value to 20px
to align it properly */
.wrapper ul li .fa {
	color: #d8e2dc;
	margin-top: 5px;
	transition: all 0.5s ease;
}

/* Now target the specific li classes for styling and use box-shadow effect to border and text-shadow effect
  to icons for glowing effect and use transition property for smooth transition effect. */
/*facebook*/
.wrapper ul li:hover.facebook {
	transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-facebook {
	color: #7298e9;
	text-shadow: 0 0 15px #7298e9;
	transition: all 0.5s ease;
}

/* instagram */
.wrapper ul li:hover.instagram {
	transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-instagram {
	color: #e952b9;
	text-shadow: 0 0 15px #e952b9;
	transition: all 0.5s ease;
}

/* media queries */

@media screen and (max-width: 600px) {
	.border2 {
		display: inline;
	}
	.border1 {
		display: none;
	}
	#myBtn {
		height: 50px;
		width: 130px;
	}
	#myBtn .btntext {
		color: white;
		font-size: 1.5em;
		font-weight: 100;
	}
	svg {
		top: 0;
	}
	.wrapper {
		width: 50px;
		margin-left: 3em;
		right: -10em;
		bottom: 7em;
	}
	.wrapper ul li {
		width: 100%;
		height: 50px;
		line-height: 50px;
		margin-top: 1px;
	}
}

.navbar
{
	z-index: 4;
	position: fixed;
	top: 0px;
	left: 0px;

	width: 100%;
	height: calc((80/768) * ((100vw + 100vh) / 2));

	padding: 0px;
	margin: 0px;
}

.navbar .logo
{
	position: absolute;
	top: 0px;
	left: 0px;

	height: calc((40/768) * ((100vw + 100vh) / 2));
	width: calc((100/768) * ((100vw + 100vh) / 2));

	margin: calc((20/768) * ((100vw + 100vh) / 2));

	background-image: url('logo.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.navbar .navbuttons
{
	position: absolute;
	top: calc((80/768) * ((100vw + 100vh) / 2));
	right: calc((40/768) * ((100vw + 100vh) / 2));

	height: calc((80/768) * ((100vw + 100vh) / 2));
}

.navbar .navbuttons .navbutton
{
	position: relative;
	top: 0px;
	left: 0px;

	width: calc((80/768) * ((100vw + 100vh) / 2));

	float: none;
	padding: calc((15/768) * ((100vw + 100vh) / 2)) 0px;

	text-align: right;
	font-family: 'Roboto', sans-serif;
	font-size: calc((12/768) * ((100vw + 100vh) / 2));
	color: #ffffff;

	opacity: 0;
	transform: translateX(calc((40/768) * ((100vw + 100vh) / 2)));
	transition: opacity 500ms ease-in-out 0s, transform 500ms ease-in-out 0s;
	-webkit-transition: opacity 500ms ease-in-out 0s, transform 500ms ease-in-out 0s;
}

.navbar .togglebutton
{
	position: absolute;
	top: 0px;
	right: 0px;

	width: calc((100/768) * ((100vw + 100vh) / 2));
	height: calc((80/768) * ((100vw + 100vh) / 2));
}

.navbar .togglebutton svg
{
	position: absolute;
	top: 0px;
	left: 0px;

	width: 100%;
	height: 100%;
	fill: #ffffff;
}

.navbar .togglebutton svg .line
{
	transition: width 500ms ease-in-out 0s, x 500ms ease-in-out 0s;
	-webkit-transition: width 500ms ease-in-out 0s, x 500ms ease-in-out 0s;
}

@media only screen and (min-width: 768px) {
	.navbar .navbuttons
	{
		position: absolute;
		top: 0px;
		right: calc((100/768) * ((100vw + 100vh) / 2));
	}
	.navbar .navbuttons .navbutton
	{
		float: left;
		padding: calc((34/768) * ((100vw + 100vh) / 2)) 0px;

		text-align: center
	}
}
