
@font-face {
	font-family: Railway;
	src: url(fonts/Railway.otf);
}
#preloader  {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	z-index: 999;
   height: 100%;
}

#status  {
	width: 100%;
	height: 40vh;
	position: absolute;
	top: 50%;
	background-image: url(blackhole.gif);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin: -20vh 0 0 0;
}
#title-text{
	z-index: 4;
    display: table;
    text-align: center;
}
#linea{
    letter-spacing: 2.3vw;
    color: #FFFFFF;
    position: fixed;
    display: table-cell;
    top: 23.6vh;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    font: calc(1.36*(.8em + 1vw + 1vh))/calc(16*0.03022*(.8em + 1vw + 1vh)) "Railway", sans-serif;
    padding-left: 9px;
}

#lineb{
    color: #FFFFFF;
    position: fixed;
    display: table-cell;
    top: 29.6vh;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    letter-spacing: 0.5vw;
    font: calc(115*0.03022*(.8em + 1vw + 1vh))/calc(29*0.03022*(.8em + 1vw + 1vh)) "Railway", sans-serif;
}
#linec{
	z-index: 1;
    position: fixed;
    display: table-cell;
    top: 37.6vh;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    font: calc(0.59*(.8em + 1vw + 1vh))/calc(96*0.03022*(.8em + 1vw + 1vh)) "Railway", sans-serif;
    color: #FFFFFF;
    letter-spacing: 1.16vw;
}
.myBtn {
	z-index: 3;
	position: fixed;
	
	width: 239px;
	height: 75px;
	background: transparent linear-gradient(105deg, #0287D0E6 0%, #49AADCE8 52%, #48DBD8E8 100%) 0% 0% no-repeat padding-box;
	border: 1px solid #27D3FF;
	border-radius: 38px;
	background-size:439px 200px;
	background-position: -100px;

	
	color: #ffffff;
	cursor: pointer;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	display: block;
	
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	transition: all 0.2s linear;
	align-items: center;
	margin-bottom: 5em; /*change this to specify distance from bottom*/
	bottom: 0;
}

.myBtn:hover {
	transition: 0.4s ease-in-out;
	background-position:-200px; 
	border: 2px solid #ffffff;
}

svg {
	display: block;
	position: absolute;
	left: -3px;
	top: -2px;
	fill: none;
	stroke: #1984ff;
	stroke-dasharray: 150 480;
	stroke-dashoffset: 150;
	transition: 1s ease-in-out;
}
.border2 {
	display: none;
}

.myBtn:hover svg {
	stroke-dashoffset: -480;
}

.btntext {
	display: inline-block;
	vertical-align: bottom;
	color: white;
	font-size: 2em;
	font-weight: 100;
}

@keyframes animate {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.logo {
	height: 55px;
	width: 92px;
	border-collapse: collapse;
	padding: 0px;
	margin-top: 0em;
}

ul {
	position: fixed;
	right: 30px;
}
li {
	margin-left: 15px;
	padding-left: 5px;
}

/* Let's style the wrapper */
.wrapper {
	z-index: 6;
	position: absolute;
	bottom: 10em;
	right: 0;
	width: 50px;
}

/* Style the Un-order list by setting its list-style to none */
.wrapper ul {
	list-style: none;
}

/* Style the list items inside the UL list, by setting its width, height and line-height
  and float them to left
 */
.wrapper ul li {
	width: 100%;
	height: 75px;
	line-height: 75px;
	margin: 0 2px;
	text-align: center;
	cursor: pointer;
	float: left;
	transition: all 0.5s ease;
}

/* Style the icons by setting its color and margin-top value to 20px
to align it properly */
.wrapper ul li .fa {
	color: #d8e2dc;
	margin-top: 5px;
	transition: all 0.5s ease;
}

/* Now target the specific li classes for styling and use box-shadow effect to border and text-shadow effect
  to icons for glowing effect and use transition property for smooth transition effect. */
/*facebook*/
.wrapper ul li:hover.facebook {
	transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-facebook {
	color: #7298e9;
	text-shadow: 0 0 15px #7298e9;
	transition: all 0.5s ease;
}

/* instagram */
.wrapper ul li:hover.instagram {
	transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-instagram {
	color: #e952b9;
	text-shadow: 0 0 15px #e952b9;
	transition: all 0.5s ease;
}

/* media queries */

@media screen and (max-width: 600px) {
	.border2 {
		display: inline;
	}
	.border1 {
		display: none;
	}
	.myBtn {
		height: 50px;
		width: 130px;
	}
	.myBtn .btntext {
		color: white;
		font-size: 1.5em;
		font-weight: 100;
	}
	svg {
		top: 0;
	}
	.wrapper {
		width: 50px;
		margin-left: 3em;
		right: -10em;
		bottom: 7em;
	}
	.wrapper ul li {
		width: 100%;
		height: 50px;
		line-height: 50px;
		margin-top: 1px;
	}
}

.navbar
{
	z-index: 4;
	position: fixed;
	top: 0px;
	left: 0px;

	width: 100%;
	height: calc((80/768) * ((100vw + 100vh) / 2));

	padding: 0px;
	margin: 0px;
}

.navbar .logo
{
	position: absolute;
	top: 0px;
	left: 0px;

	height: calc((40/768) * ((100vw + 100vh) / 2));
	width: calc((100/768) * ((100vw + 100vh) / 2));

	margin: calc((20/768) * ((100vw + 100vh) / 2));

	background-image: url('logo.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.navbar .navbuttons
{
	position: absolute;
	top: calc((80/768) * ((100vw + 100vh) / 2));
	right: calc((40/768) * ((100vw + 100vh) / 2));

	height: calc((80/768) * ((100vw + 100vh) / 2));
}

.navbar .navbuttons .navbutton
{
	position: relative;
	top: 0px;
	left: 0px;

	width: calc((80/768) * ((100vw + 100vh) / 2));

	float: none;
	padding: calc((15/768) * ((100vw + 100vh) / 2)) 0px;

	text-align: right;
	font-family: 'Roboto', sans-serif;
	font-size: calc((12/768) * ((100vw + 100vh) / 2));
	color: #ffffff;

	opacity: 0;
	transform: translateX(calc((40/768) * ((100vw + 100vh) / 2)));
	transition: opacity 500ms ease-in-out 0s, transform 500ms ease-in-out 0s;
	-webkit-transition: opacity 500ms ease-in-out 0s, transform 500ms ease-in-out 0s;
}

.navbar .togglebutton
{
	position: absolute;
	top: 0px;
	right: 0px;

	width: calc((100/768) * ((100vw + 100vh) / 2));
	height: calc((80/768) * ((100vw + 100vh) / 2));
}

.navbar .togglebutton svg
{
	position: absolute;
	top: 0px;
	left: 0px;

	width: 100%;
	height: 100%;
	fill: #ffffff;
}

.navbar .togglebutton svg .line
{
	transition: width 500ms ease-in-out 0s, x 500ms ease-in-out 0s;
	-webkit-transition: width 500ms ease-in-out 0s, x 500ms ease-in-out 0s;
}

@media only screen and (min-width: 768px) {
	.navbar .navbuttons
	{
		position: absolute;
		top: 0px;
		right: calc((100/768) * ((100vw + 100vh) / 2));
	}
	.navbar .navbuttons .navbutton
	{
		float: left;
		padding: calc((34/768) * ((100vw + 100vh) / 2)) 0px;

		text-align: center
	}
}

@media (min-width: 501px){
	.section-2{
		scroll-snap-align: start;
		position: absolute;
		width: 100%;
		top: 122vh;
		z-index: 5;
		margin: 0;
		padding: 0;
		background: transparent linear-gradient(180deg, #000000 0%, #191919 100%) 0% 0% no-repeat padding-box;
		overflow-y: hidden;
		height: 68vh;
	}
	
	.image-container-1{
		display: inline-block;
		width: 46%;
		height: auto;
		margin: 0 auto;
		padding: 0;
	}

	.image-container-1 img{
		display: block;
		width: 100%;
		height: auto;
		mix-blend-mode: lighten;
	}

	.text-container{
		position: absolute;
		margin: 3vh auto;
		display: inline-block;
		width: 45%;
		height: auto;
	}

	.section-2 .text{
		display: inline;
		font-family: sans-serif;
		font-size: 3vw;
		font-weight: 100;
		color: #FFFFFF;
	}

	.section-2 p{
		color: #8B9AB5;
		font-family: 'Lato', sans-serif;
		font-size: 1.5vw;
		padding-left: 0.9rem;
		margin-top: 7vh;
		margin-bottom: 7vh;
		line-height: 1.75vw;
	}

	.circle{
		height: 30px; 
		width: 60px; 
		border-radius: 30px 30px 0 0;
		transform: rotate(90deg);
		background-image: linear-gradient(-90deg, #48DBD8E8, #0287D0E6);
		display: inline-block;
	}

	.myBtn2{
		z-index: 2;
		width: 14.641288433382138vw;
		padding:9px;
		height: auto;
		background: transparent linear-gradient(105deg, #0287D0E6 0%, #49AADCE8 52%, #48DBD8E8 100%) 0% 0% no-repeat padding-box;
		border: 1px solid #27D3FF;
		border-radius: 38px;
		background-size:66.92073170731707vw 31.695721077654518vh;
		background-position: -100px;
		color: #ffffff;
		cursor: pointer;
		letter-spacing: 0.5px;
		text-transform: uppercase;
		text-align: center;
		text-decoration: none;
		display: block;
		margin-left: 1vw;
		margin-right: 0;
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
		transition: all 0.2s linear;
		align-items: center;
		margin-bottom: 0; /*change this to specify distance from bottom*/
		bottom: 0;
		display: inline-block;
		
}

.myBtn2:hover {
	transition: 0.4s ease-in-out;
	background-position:-200px; 
	border: 2px solid #ffffff;
}

.btntext {
	display: inline-block;
	vertical-align: bottom;
	color: white;
	font-size: 1.581259150805271vw;
	font-weight: 200;
}

.text-container .btn2{
	background: none;
	border: 2px solid #707070;
	margin-right: 0;
	display: inline-block
}

.btn2 .btntext{
	color: #707070;
}

.section-2 .btn2:hover > .btntext{
	transition: 0.4s ease-in-out;
	color: white;
}
.section-2 .btn2:hover{
	border-color: #FFFFFF;
	transition: 0.4s ease-in-out;
}
}

@media only screen and (max-width: 501px){
	.section-2{
		position: absolute;
		width: 100%;
		top: 100vh;
		z-index: 5;
		margin: 0;
		padding: 0;
		height: 25vh;
		background: transparent linear-gradient(180deg, #000000 0%, #191919 100%) 0% 0% no-repeat padding-box;
	}
	
	.image-container-1{
		display: inline-block;
		width: 46%;
		height: auto;
		margin: 0 auto;
		padding: 0;
	}
	.image-container-1 img{
		display: block;
		width: 100%;
		height: auto;
		mix-blend-mode: lighten;
	}
	.text-container{
		position: absolute;
		margin: 3vh auto;
		display: inline-block;
		width: 45%;
		height: auto;
	}
	.section-2 .text{
		display: inline;
		font-family: sans-serif;
		font-size: 0.8rem;
		font-weight: 100;
		color: #FFFFFF;
	}
	.section-2 p{
		color: #8B9AB5;
		font-family: 'Lato', sans-serif;
		font-size: 8px;
		padding-left: 0.3rem;
		margin-top: 10px;
		margin-right: 0;
		padding-right: 0;
		line-height: 10px;
	}
	.circle{
		height: 10px; 
		width: 20px; 
		border-radius: 10px 10px 0 0;
		transform: rotate(90deg);
		background-image: linear-gradient(-90deg, #48DBD8E8, #0287D0E6);
		display: inline-block;
	}
	.myBtn2{
		z-index: 2;
		width: 65px;
		padding:0;
		height: 25px;
		background: transparent linear-gradient(105deg, #0287D0E6 0%, #49AADCE8 52%, #48DBD8E8 100%) 0% 0% no-repeat padding-box;
		border: 1px solid #27D3FF;
		border-radius: 38px;
		background-size:66.92073170731707vw 31.695721077654518vh;
		background-position: -100px;
		color: #ffffff;
		cursor: pointer;
		letter-spacing: 0.5px;
		text-transform: uppercase;
		text-align: center;
		text-decoration: none;
		display: block;
		margin-left: 1vw;
		margin-right: 0;
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
		transition: all 0.2s linear;
		align-items: center;
		margin-bottom: 0; /*change this to specify distance from bottom*/
		bottom: 0;
		display: inline-block;
		
}

.myBtn2:hover {
	transition: 0.4s ease-in-out;
	background-position:-200px; 
	border: 2px solid #ffffff;
}
.btntext {
	display: inline-block;
	vertical-align: bottom;
	color: white;
	font-size: 8px;
	font-weight: 100;
}
.text-container .btn2{
	background: none;
	border: 2px solid #707070;
	margin:0;
	display: inline-block;
	height: 25px;
	width: 65px;
}

.btn2 .btntext{
	color: #707070;
}
.section-2 .btn2:hover > .btntext{
	transition: 0.4s ease-in-out;
	color: white;
}
.section-2 .btn2:hover{
	border-color: #FFFFFF;
	transition: 0.4s ease-in-out;
}

}


@media (min-width: 501px){
	.section-3{
		scroll-snap-align: start;
		z-index: 5;
		color: white;
		position: absolute;
		width: 100%;
		height: 120vh;
		top:190vh;
		background: transparent linear-gradient(180deg, #191919 0%, #191919 10%, #00000000 52%, #00000000 100%) 0% 0% no-repeat padding-box;
		opacity: 1;
	}

	.section-3 img{
		display: block;
		max-width: 100%;
    	max-height: 100%;
		z-index: -10;
		mix-blend-mode: hue;
	}

	.section-3 h1{
		align-items: center;
		position: absolute;
		top: 3.5vh;
    	left: 9vw;
		display: inline-block;
		font-family: sans-serif;
		font-size: 3rem;
		font-weight: 100;
		margin-left: 10px;
	}

	.section-3 .circle{
		position: absolute;
		top: 10vh;
		left: 4vw;
		display: inline-block;
	}

	.section-3 p{
		position: absolute;
		top: 17vh;
		left: 4vw;
		width: 70vw;
		margin-left: 1vw;
		color: #8B9AB5;
		font-family: 'Lato', sans-serif;
		font-size: 1.25rem;
		margin-top: 5vh;
		line-height: 1.75rem;
	}
	.section-3 .btn2{
		position: absolute;
		background: none;
		border: 2px solid #707070;
		bottom: 60vh;
		height: 8vh;
		left: 4vw;
		margin-top: 10px;
	}
	.section-3 .btn2:hover{
		border-color: #FFFFFF;
		transition: 0.4s ease-in-out;
	}
	.section-3 .btn2:hover > .btntext{
	color: #FFFFFF;
	transition: 0.4s ease-in-out;
	}
}
@media (max-width: 501px){
	.section-3{
		z-index: 5;
		color: white;
		position: absolute;
		width: 100vw;
		top:125vh;
		background: transparent linear-gradient(180deg, #191919 0%, #191919 10%, #00000000 52%, #00000000 100%) 0% 0% no-repeat padding-box;
		opacity: 1;
	}
	.section-3 img{
		display: block;
		width: 100vw;
		height: auto;
		z-index: -10;
		mix-blend-mode: hue;
	}
	.section-3 h1{
		align-items: center;
		position: absolute;
		top: 8.293460925039872vh;
    left: 8vw;
		display: inline-block;
		font-family: sans-serif;
		font-size: 0.8rem;
		font-weight: 100;
	}
	.section-3 .circle{
		position: absolute;
		top: 10vh;
		left: 4vw;
		display: inline-block;
	}
	.section-3 p{
		position: absolute;
		top: 17vh;
		left: 4vw;
		width: 70vw;
		margin-left: 1vw;
		color: #8B9AB5;
		font-family: 'Lato', sans-serif;
		font-size: 8px;
		margin-top: -12.5px;
		line-height: 10px;
	}
	.section-3 .btn2{
		position: absolute;
		background: none;
		border: 2px solid #707070;
		top: 21.5311004784689vh;
		height: 3.9872408293460926vh;
		left: 4vw;
		width: 16vw;
	}
	.section-3 .btn2:hover{
		border-color: #FFFFFF;
		transition: 0.4s ease-in-out;
}
.section-3 .btn2:hover > .btntext{
	color: #FFFFFF;
	transition: 0.4s ease-in-out;
}
	.section-3 .btntext{
		margin-bottom: 0.45vw;
	}
}


#ham{
	position: fixed;
    z-index: 6;
    display: block;
    right: 0;
    top: 47vh;
    width: 4vw;
    height: 6vh;
    opacity: 1;
}

#ham .rectangle{
	z-index: 6;
	margin-top: 1vh;
	left: 1865px;
	width: 3vw;
	float: right;
	height: .3vh;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	opacity: 1;
	transition: all 0.5s ease;
}
#ham .rectanglebig{
    width: 4vw;
}


